---
layout: default
---

<!-- <div class="header-bar">
  <h1>rishikaneriya</h1>
  <h2>.com</h2>
  <br/>
  <hr>
  <br/>
</div> -->

<div class="post">
  <header class="post-header">
    <h1 class="post-title">{{ site.posts.first.title }}</h1>
    <p class="post-meta">{{ site.posts.first.date | date: "%B %-d, %Y" }}{% if site.posts.first.author %} • {{ site.posts.first.author }}{% endif %}{% if site.posts.first.meta %} • {{ site.posts.first.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ site.posts.first.content }}
  </article>
</div>